<div class='image_container mt-2'>
    <%= image_pack_tag "hoodie.jpg", style: 'width: 100%;' %>
    <div class='primary_image_text text-white text-uppercase font-weight-bold' style='font-size: 40pt;'>
        Check out our Gear!
    </div>
    <div class='secondary_image_text text-white'>
        We have new gear regularly and you can either purchase or set up a payment subscription.
    </div>
</div>